In [26]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [6]:
url= 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [81]:
movie_name = []
year = []
time = []
rating = []
metascore =[]
votes = []
gross = []

In [80]:
movie_data = soup.findAll('div', attrs = {'class' :'lister-item mode-advanced'})

In [82]:
for store in Movie_data:
  name = store.h3.a.text
  movie_name.append(name)

  year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
  year.append(year_of_release)

  runtime = store.p.find('span', class_ = 'runtime').text.replace(' min','')
  time.append(runtime)

  rate = store.find('div',class_ = 'inline-block ratings-imdb-rating').text.replace('\n','')
  rating.append(rate)

  meta = store.find('span', class_ = 'metascore').text.replace(' ',  '') if store.find('span', class_ = 'metascore') else '^^^^^'
  metascore.append(meta)

  value = store.find_all('span', attrs = {'name': 'nv'})

  vote = value[0].text
  votes.append(vote)

  grosses = value[1].text if len(value) > 1 else '^^^^^^'
  gross.append(grosses)

In [87]:
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of release': year, 'Watchtime': time, 'Movie Rating': rating, 'Metascore': metascore, 'Votes': votes, 'Gross Collection': gross})

In [93]:
movie_DF.head(70)

               Name of movie Year of release  ...      Votes Gross Collection
0   The Shawshank Redemption            1994  ...  2,474,674          $28.34M
1              The Godfather            1972  ...  1,709,777         $134.97M
2            Soorarai Pottru            2020  ...     90,529           ^^^^^^
3            The Dark Knight            2008  ...  2,428,723         $534.86M
4     The Godfather: Part II            1974  ...  1,187,674          $57.30M
..                       ...             ...  ...        ...              ...
65    Avengers: Infinity War            2018  ...    930,860         $678.82M
66                      Coco          I 2017  ...    435,318         $209.73M
67          Django Unchained            2012  ...  1,433,242         $162.81M
68     The Dark Knight Rises            2012  ...  1,583,532         $448.14M
69                  3 Idiots            2009  ...    369,163           $6.53M

[70 rows x 7 columns]